/* Here is your custom css styles. */
.webpushr-subscribed prompticon3{
    position:fixed;
    transform: none;
    bottom: 70px !important;
    right:16px;
    width: 55px !important;
    height: 55px !important;
    cursor: pointer;
}